.board-create-container {
  margin-top: 100px;
  // height: 100vh;
  margin-left: 15vw;
  margin-right: 15vw;
  &__title {
    padding-top: 70px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #0066c1, #009fe5);
    font-family: 'S-Core Dream';
    font-weight: 900;
    font-size: 24px;
  }
  &__input {
    &-info {
      display: flex;
      margin-top: 40px;
      &__author,
      &__password {
        width: 50%;
        height: 60px;
        display: flex;
        text-align: center;
        font-size: 16px;
        font-family: 'Noto Sans KR';
        label {
          display: block;
          width: 50%;
          height: 60px;
          line-height: 60px;
          background-color: #d4e9fc;
          border: 1px solid #d4e9fc;
          font-weight: 400;
          font-size: 18px;
        }
        input {
          width: 50%;
          height: 60px;
          border: 1px solid #c0c0c0;
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          font-size: 18px;
          font-family: 'Noto Sans KR';
          font-weight: 400;
        }
        input::placeholder {
          font-size: 18px;
          font-family: 'Noto Sans KR';
          font-weight: 400;
          color: #b2b2b2;
        }
      }
    }
    &-title {
      margin-top: 50px;
      width: 100%;
      height: 50px;
      display: flex;
      text-align: center;
      font-size: 16px;
      font-family: 'Noto Sans KR';
      label {
        display: block;
        width: 25%;
        height: 60px;
        line-height: 60px;
        background-color: #d4e9fc;
        border: 1px solid #d4e9fc;
        font-weight: bold;
      }
      input {
        width: 75%;
        height: 60px;
        border: 1px solid #c0c0c0;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 16px;
        font-family: 'Noto Sans KR';
        font-weight: 400;
      }
      input::placeholder {
        font-size: 16px;
        font-family: 'Noto Sans KR';
        font-weight: 400;
        color: #b2b2b2;
      }
    }
    &-text-editor {
      margin-top: 35px;
      
    }
    &__button {
      margin-top: 20px;
      margin-bottom: 100px;
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      &-submit {
        cursor: pointer;
        border: none;
        width: 88px;
        height: 40px;
        background: transparent linear-gradient(90deg, #0066c1 0%, #009fe5 100%) 0% 0% no-repeat padding-box;
        color: #fff;
        text-align: center;
        line-height: 40px;
      }
      &-cancel {
        cursor: pointer;
        background-color: #d9d9d9;
        text-align: center;
        line-height: 40px;
        width: 88px;
        height: 40px; 
        border: 1px solid #C0C0C0;
      }
    }
  }
}

.warning {
  color: rgb(248, 113, 113);
  font-size: 14px;
  position: absolute;
  margin-top: 60px;
}