.campain-header {
  .campain {
    .card-header {
      font-size: 16px;
      font-family: 'Noto Sans KR';
      font-weight: bold;
      color: #0066c1;
    }
  }
}

.campain-container {
  margin-top: 100px;
  overflow: hidden;

  &__img {
    img {
          max-width: 100%;
    object-fit: cover;
    height: 300px;
    }
  
  }
  &__body {
    margin-top: 70px;
    padding-left: 14rem;
    padding-right: 14rem;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 42px;
      .text {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #0066c1, #04a1e6);
        font-family: 'S-Core Dream';
        font-weight: 900;
        font-size: 24px;
      }
      &-right {
        display: flex;
        .box1 {
          margin-right: 10px;
          &-select {
            width: 100px;
            height: 40px;
            border: 1px solid #c0c0c0;
            line-height: 40px;
            color: #999999;
            margin-left: 10px;
            font-size: 14px;
            font-family: 'S-Core Dream';
            font-weight: 300;
            option {
              border: 1px solid #c0c0c0;
              line-height: 40px;
              font-size: 14px;
              font-family: 'S-Core Dream';
              font-weight: 300;
            }
          }
        }
        .box2 {
          &-input {
            width: 360px;
            height: 40px;
            border: 1px solid #c0c0c0;
            padding: 10px;

            &::placeholder {
              color: #999999;
              font-size: 14px;
              font-family: 'S-Core Dream';
              font-weight: 300;
              line-height: 40px;
            }
          }
        }
        .box3 {
          cursor: pointer;
          padding-left: 12px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 88px;
          height: 40px;
          border: 1px solid #c0c0c0;
          background-image: linear-gradient(to right, #0066c1, #04a1e6);
          &-text {
            line-height: 40px;
            color: #ffffff;
            font-size: 14px;
            font-family: 'S-Core Dream';
            font-weight: 300;
          }
        }
      }
    }
    &-content {
      margin-bottom: 100px;
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      justify-items: center;

      &__item {
        cursor: pointer;
        width: 15.625rem;
        margin-bottom: 40px;
        &-img {
          height: 210px;
          img {
            border: 1px solid #cccccc;
            border-bottom: none;
            width: 100%;
            height: 210px;
            vertical-align: middle;
          }
        }
        &-title {
          width: 100%;
          height: 60px;
          background-color: #d4e9fc;
          border: 1px solid #cccccc;
          font-family: Noto Sans KR;
          font-weight: 400;
          font-size: 15px;
          text-align: center;
          line-height: 60px;
        }
      }
    }
  }
}

.campain-container__body-content__item:hover {
  box-shadow: 3px 8px 10px #00000033;
  img {
    border: 1px solid #0066c1;
    border-bottom: none;
  }
  .campain-container__body-content__item-title {
    background-image: linear-gradient(to right, #0367c2, #009fe5);
    border: 1px solid #0066c1;
  }
}

@media (min-width: 640px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1241px) {
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1424px) {
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
