.table-detail {
	display: flex;
	flex-direction: column;

	&__title {
		display: flex;
		background-color: #D4E9FC;
		height: 3.125rem;
		align-items: center;
		text-align: left;

		p {
			margin-left: 1.25rem;
			font-size: 20px;
			font-weight: bold;
		}
	}

	&__pre-body {
		display: flex;
		justify-content: space-evenly;
	}

	&__author, &__date {
		height: 3.125rem;
		width: 100%;
		display: flex;
		align-items: center;
		border-bottom: #999999 1px solid;

		.label {
			width: 25%;
			display: flex;

			p {
				font-weight: bold;
			}
		}

		a {
			cursor: pointer;
			text-decoration: underline;
			color: #06c;
		}

		p, a {
			margin-left: 1.25rem;
			font-size: 14px;
		}
	}

	&__description {
		height: 18.75rem;
		max-height: 100%;
		border-bottom: #999999 0.5px solid;
		text-align: left;

		p {
			margin-top: 0.625rem;
			margin-left: 1.25rem;
			font-size: 14px;
		}
	}
}

.buttons-container {
	display: flex;
	gap: 0.625rem;
	justify-content: flex-end;

	.return-button {
		cursor: pointer;
		height: 2.5rem;
		width: 5.5rem;
		margin-top: 1.25rem;
		color: white;
		background: linear-gradient(90deg, #0367C2 0%, #009FE5 100%);
		border: 1px solid #C0C0C0;
		font-size: 14px;
	}

	.backward-button, .forward-button {
		cursor: pointer;
		height: 2.5rem;
		width: 5.5rem;
		margin-top: 1.25rem;
		background: #D9D9D9;
		border: 1px solid #C0C0C0;
		font-size: 14px;
	}
}