.gallery-container {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	.grid-row {
		display: flex;
		justify-content: space-between;

		figure {
			border: 1px solid #CCCCCC;
			max-width: 13.25rem;
			
			&:hover {
				cursor: pointer;
				border: 1px solid #0066C1;
				box-shadow: 6px 6px 25px #00000033;
				transition: 0.3s ease;

				figcaption {
					border-top: 1px solid #0066C1;
					background: linear-gradient(90deg, #0367C2 0%, #009FE5 100%);
					color: white;
					transition: 0.3s ease;
				}
			}

			img {
				width: 13.25rem;
				height: 13.125rem;
				object-fit: cover;
			}
		}
	
		figcaption {
			min-height: 3.75rem;
			display: flex;
			flex-direction: column;
			border-top: 1px solid #CCCCCC;
			background-color: #D4E9FC;
			padding: 0.5rem 0.5rem;
			font-size: 15px;
			color: #000000;
			justify-content: center;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	gap: 2px;

	.icon-nav {
		display: flex;
		gap: 2px;

		.button-nav {
			cursor: pointer;
			border: none;
		}
	}

	.page-number {
		display: flex;
		gap: 2px;
	
		button {
			background-color: white;
			border: 1px solid #CCCCCC;
			width: 1.75rem;
      height: 1.75rem;
		}

		button.clicked {
			background: linear-gradient(90deg, #0367C2 0%, #009FE5 100%);
			color: white;
		}
	}
}

