.campaign-view {
	display: flex;
	flex-direction: column;

	.item-wrapper {
		display: flex;
		gap: 2.5rem;
		
		.item-body {
			display: flex;
			flex-direction: column;
			border: none;
			text-align: left;
			
			&__title {
				background-color: #D4E9FC;

				p {
					font-size: 20px;
					font-weight: bold;
				}
			}

			&__author {

			}

			&__link {
				
			}

			&__description {
				
			}
		}
	}

	button {
		height: 2.5rem;
		width: 5.5rem;
		background: linear-gradient(90deg, #0367C2 0%, #009FE5 100%);
		border: 1px solid #C0C0C0;
	}
}