@import '../../common/sass/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999999;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 0 20px 0 rgb(206, 205, 205);
  padding: 1.875rem 0;
  position: fixed;
  top: 0;
  right: 0;
  gap: 5rem;

  .header-left {
    margin-left: 100px;
  }
  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.875rem;
    text-align: center;
    margin-right: 100px;
    a {
      // margin-right: 50px;
      // max-width: 48px;
      line-height: 100px;
      text-align: center;
      color: $color-black;
      font-family: 'Noto Sans KR';
    }
  }
}

.header-logo {
  width: 218px;
  height: 36px;
  z-index: -1;
}
