.announcement-header {
  .announcement {
    .card-header {
      font-size: 16px;
      font-family: 'Noto Sans KR';
      font-weight: bold;
      color: #0066c1;
    }
  }
}

.announcement-content {
  margin-top: 100px;

  &__img {
    img {
      height: 300px;
    width: 100%;
    object-fit: cover;
    }
    
  }
  &__body {
    margin-top: 70px;
    padding-left: 14rem;
    padding-right: 14rem;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 42px;
      .text {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #0066c1, #04a1e6);
        font-family: 'S-Core Dream';
        font-weight: 900;
        font-size: 24px;
      }
      &-right {
        display: flex;
        .box1 {
          margin-right: 10px;
          &-select {
            width: 100px;
            height: 40px;
            border: 1px solid #c0c0c0;
            line-height: 40px;
            color: #999999;
            margin-left: 10px;
            font-size: 14px;
            font-family: 'S-Core Dream';
            font-weight: 300;
            option {
              border: 1px solid #c0c0c0;
              line-height: 40px;
              font-size: 14px;
              font-family: 'S-Core Dream';
              font-weight: 300;
            }
          }
        }
        .box2 {
          &-input {
            width: 360px;
            height: 40px;
            border: 1px solid #c0c0c0;
            padding: 10px;

            &::placeholder {
              color: #999999;
              font-size: 14px;
              font-family: 'S-Core Dream';
              font-weight: 300;
              line-height: 40px;
            }
          }
        }
        .box3 {
          cursor: pointer;
          padding-left: 12px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 88px;
          height: 40px;
          border: 1px solid #c0c0c0;
          background-image: linear-gradient(to right, #0066c1, #04a1e6);
          &-text {
            line-height: 40px;
            color: #ffffff;
            font-size: 14px;
            font-family: 'S-Core Dream';
            font-weight: 300;
          }
        }
      }
    }
    &-data {
      table {
        width: 100%;
        font-size: 14px;
        text-align: center;
        font-weight: 300;
        font-family: 'S-Core Dream';
        border-collapse: collapse;
        table-layout: fixed;

        thead {
          width: 100%;

          font-size: 14px;
          font-family: 'S-Core Dream';
          font-weight: 700;
          height: 50px;
          background-color: #d4e9fc;
      
          .number,
          .title,
          .writer,
          .date {
            border-right: 1px solid #7da7cc;
           
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .date {
            border-right: none;
          }
        }
        .table-data {
          height: 50px;
          border: 1px solid #d9d9d9;
          border-left: none;
          border-right: none;
        }
        td {
          padding: 4px 8px;
        }
      }
    }
  }
}
