

.home-slide {
  background-image: url('../../common/assets/images/home_1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1;
  top: 0px;
  left: 0px;
  height: 100vh;
  position: relative;
  z-index: -100;

  .home-text {
    .home-title {
      color: #f3f3f3;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
    }
    .home-desc {
      color: #c4f7ff;
      margin-top: 40px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 90%);
    }
  }
}

.home-notice {
  height: 90vh;
  padding: 140px 120px 160px;

  .notice-top {
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: 'S-Core Dream 9';
      font-weight: 900;
      font-size: 24px;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #0066c1, #2079ff);
    }
    div {
      width: 40px;
      height: 40px;
    }
  }
  
  .notice-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
    flex-wrap: wrap;

    
  }
}

// .homeheader
.transparent {
  .header {
    box-shadow: none;
    background-color: transparent;
    a {
      .card-header {
        color: #fff;
      }
    }
  }
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.home-header.nav-fade-in {
  animation: navFadeIn ease 0.5s forwards;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  color: #3B4650;
  margin-bottom: 6px;
}
.card-content {
  font-size: 14px;
  color: #606A74;
}
.card-date {
  font-size: 12px ;
  color: #3B4650;
  margin-top: 6px;
}