@import "../../common/sass/variables";

.video-collection {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.video {
	display: flex;
	justify-content: center;
	gap: 2.5rem;

	&__thumbnail {

	}

	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: left;

		&__header {
			display: flex;
			justify-content: space-between;

			&__title {
				width: 80%;
			}

			p {
				font-size: 14px;
				color: #555555;
			}

			h3 {
				font-size: 16px;
				font-weight: bold;
			}
		}

		&__desc {
			min-height: 9.125rem;
			margin-top: 0.625rem;
			background-color: #F9F9F9;
			
			p {
				margin: 1.563rem 1.25rem;
				color: #676767;
				font-size: 15px;
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	gap: 2px;

	.icon-nav {
		display: flex;
		gap: 2px;

		.button-nav {
			cursor: pointer;
			border: none;
		}
	}

	.page-number {
		display: flex;
		gap: 2px;
	
		button {
			background-color: white;
			border: 1px solid #CCCCCC;
			width: 1.75rem;
      height: 1.75rem;
		}

		button.clicked {
			background: linear-gradient(90deg, #0367C2 0%, #009FE5 100%);
			color: white;
		}
	}
}

@media only screen and (max-width: $breakpoint-xl) {
	.video {
		flex-direction: column;
	}
}

@media only screen and (max-width: $breakpoint-md) {
	.video {
		flex-direction: column;
	}
}